.app-container {
  min-height: 100vh;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.main-content.with-navbar {
  padding-top: 112px;
}

@media (max-width: 1100px) {
  .main-content.with-navbar {
    padding-top: 132px;
  }
}

@media (max-width: 720px) {
  .main-content.with-navbar {
    padding-top: 154px;
  }
}
